
  $PrimaryColor: #34b27b;
  $SecondaryColor: #1c1c1c;
  $Cultured: #eee;
  $JetBlack: #2C2C2C;
  $DimGray: #6D6D6D;
  $White: #fff;
  $Gainsboro: #DFDFDF;
  $HRcolor: #505050;

  @mixin flex($direction, $justify, $align) {
    display: flex;
    flex-direction: $direction;
    align-items: $align;
    justify-content: $justify;
}

.container {
    @include flex(column, center, center);
    width: 100%;
    height: 100vh;
  }
  .wrapper {
    @include flex(column, center, center);
    background-color: rgba(44, 44, 44, 0.3);
    padding: 2em;
    border-radius: 16px;
  }
  h1.title {
    font-size: 3rem;
    margin-bottom: 1.5rem;
  }
  
  p.error {
    background: rgba(255, 0, 0, 0.3);
    padding: 10px 15px;
  }

  .formContainer {
    padding: 1em;
    
  }
  .input {
    padding: 10px;
    margin-right: 10px;
    border-radius: 3px;
    font-size: 1em;
    border: none;
    width: 20rem;
    background-color: $JetBlack;
    color: $Gainsboro;

    &::placeholder {
      color: $DimGray;
    }
    &:focus {
      outline: 2px solid $PrimaryColor;
    }
  }

  .hr {
    background-color: $HRcolor;
    border: none;
    height: 0.005em;
    margin: 2em 0;
  }

  .submit {
    background: $PrimaryColor;
    padding: 10px;
    border-radius: 3px;
    font-weight: 600;
    cursor: pointer;
    font-size: 1em;
    width: 8em;
    outline: none;
    border: none;

    &:hover {
      background: $Cultured;
    }
  }
 
  .github {
    background: $JetBlack;
    color: $White;
    width: 100%;
    padding: 10px;
    border: 1px solid $Cultured;
    border-radius: 3px;
    font-weight: 500;
    font-size: 1em;
    cursor: pointer;
    letter-spacing: 1.2px;

    p {
      margin: 0;
    }
    &:hover {
      background: #000;
    }
  }
  