.header {
    position: fixed;
    background: #f7f7f7;
    height: 120px;
    width: 100%;
    padding: 1rem;
    display: flex;
  }
  
  .headerText {
    flex: 1;
  }
  
  .settings {
    width: 200px;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    width: 50vw;
    margin: auto;
  }
  
  .messageContainer {
    border: 1px solid #eee;
    margin: 10px 0;
    width: 100%;
    padding: 10px;
    border-radius: 2px;
   
  }
  
  .messageContainer a {
    text-decoration: underline;
  }
  
  .chat {
    display: flex;
    background: #f7f7f7;
    width: 100%;
    padding: 5px;
    height: 60px;
  }
  
  .messageInput {
    flex: 1;
    margin-right: 10px;
    border: 1px solid #eee;
    border-radius: 2px;
    padding: 0 10px;
  }
  
  .submit {
    background: #34b27b;
    border: none;
    cursor: pointer;
    padding: 5px 10px;
  }
  
  .user {
    font-style: italic;
  }