.header {
    height: fit-content;
    width: 100%;
    padding: 1rem;
    display: flex;
    position: sticky;
    top: 0;
    z-index: 100;
    box-shadow: 0 1px 6px 0 #6D6D6D;
    background-color: #1c1c1c;
  }
  .h1, .p {
    margin: 0;
  }
  .h1 {
    margin-bottom: 0.5em;
  }
  .headerText {
    flex: 1;
  }
  .headerText h1 {
      letter-spacing: 1.4px;
  }
  
  .settings {
    width: 200px;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    width: 50vw;
    margin: auto;
    margin-top: 3em;
  }
  
  .messageContainer {
    border: 1px solid #eee;
    margin: 10px 0;
    width: 100%;
    padding: 10px 25px;
    border-radius: 50px;
  }
  
  .messageContainer a {
    text-decoration: underline;
  }
  .chat {
    display: flex;
    width: 100%;
    padding: 5px;
    height: 60px;
  }

  .usernameForm input {
      margin-bottom: 0.5em;
      padding: 0.3em;
  }

  .messageInput {
    flex: 1;
    margin-right: 10px;
    border: 2.5px solid #30A572;
    background-color: #2C2C2C;
    color: #fff;
    border-radius: 2px;
    padding: 0 10px;
    font-family: MyFont;
    font-weight: 500;
    font-size: 1em;
    outline: none;
    border-radius: 5.97531px;
  }
  .messageInput::placeholder {
    color: #DFDFDF;
  }
  .buttonContainer {
      margin: 1em;
      margin-top: 0;
      margin-bottom: 0.2em;
  }
  .buttonContainer p {
    margin: 0;
  }
  .submit {
    background-color: #30A572;
    color: #ededed;
    border: none;
    cursor: pointer;
    padding: 5px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: MyFont;
    font-size: 1em;
    border-radius: 5.97531px;
  }
  
  .user {
    font-style: italic;
    color: #DFDFDF;
  }