
  $PrimaryColor: #34b27b;
  $SecondaryColor: #1c1c1c;
  $Cultured: #eee;
  $JetBlack: #2C2C2C;
  $DimGray: #6D6D6D;
  $White: #fff;
  $Gainsboro: #DFDFDF;
  $HRcolor: #505050;

  @mixin flex($direction, $justify, $align) {
    display: flex;
    flex-direction: $direction;
    align-items: $align;
    justify-content: $justify;
  }
 

  .container {
    padding: 1rem;
    width: 50vw;
    margin: auto;
    margin-top: 3em;
  }
  
  .messageContainer {
    margin: 20px 0;
    margin-top: 3px;
    width: 100%;
    padding: 10px 25px;
    border-radius: 0 7px 7px 7px;
    background-color: $JetBlack;
    a {
      text-decoration: underline;
    }
  }
  .textDetail {
    @include flex(row, flex-start, flex-start);
    position: relative;
    left: 1;
    top: 0;
    margin-left: 0.2em;
    .user {
      font-style: italic;
      color: $PrimaryColor;
    }
    .timeStamp {
      font-size: 0.8em;
      margin-left: 1em;
      color: $DimGray;
    }
  }
  .chat {
    display: flex;
    width: 100%;
    padding: 5px;
    height: 60px;
  }

  .usernameForm input {
      margin-bottom: 0.5em;
      padding: 0.3em;
  }

  .messageInput {
    flex: 1;
    margin-right: 10px;
    border: 2.5px solid $PrimaryColor;
    background-color: $JetBlack;
    color: $Gainsboro;
    border-radius: 2px;
    padding: 0 10px;
    font-family: MyFont;
    font-weight: 500;
    font-size: 1em;
    outline: none;
    border-radius: 5.97531px;
    &::placeholder {
      color: $DimGray;
    }
  }
 
  .buttonContainer {
      margin: 1em;
      margin-top: 0;
      margin-bottom: 0.2em;
      p {
        margin: 0;
      }
  }

  .submit {
    background-color: $PrimaryColor;
    color: $SecondaryColor;
    border: none;
    cursor: pointer;
    padding: 5px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: MyFont;
    font-size: 1em;
    border-radius: 0.2357em;
    outline: none;
    &:hover {
      background-color: $SecondaryColor;
      color: $PrimaryColor;
      outline: 2.5px solid $PrimaryColor;
    }
  }
  .hr {
    background-color: $HRcolor;
    border: none;
    width: 100%;
    height: 0.005em;
    margin: 2em 0 1em 0;
  }
  .welcome{
    @include flex(row, flex-start, center);
    padding: 0.7em;
    background-color: $SecondaryColor;
    border-radius: 0.5357em;
    span {
      font-weight: 600;
      color: $PrimaryColor;
    }
  }
  .cavatar {
    background-color: $HRcolor;
    border-radius: 50%;
    padding: 0.4em 0.8em;
    width: 1em;
  }
 