
.imageCon {
    width: 20em;
}

.loader {
    --path: #1c1c1c;
    --dot: #34b27b;
    --duration: 3s;
    width: 44px;
    height: 44px;
    position: relative;
    &:before {
        content: '';
        width: 10px;
        height: 10px;
        border-radius: 50%;
        position: absolute;
        display: block;
        background: var(--dot);
        top: 60px;
        left: 30px;
        transform: translate(-40px, -18px);
        animation: dotRect var(--duration) cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;
    }
    svg, .imageCon {
        display: block;
        width: 100%;
        height: 100%;
        rect,
        polygon,
        circle {
            fill: none;
            z-index: 5000;
            stroke: var(--path);
            stroke-width: 60px;
            stroke-linejoin: round;
            stroke-linecap: round;
        }
        circle {
            stroke-dasharray: calc(100/(4*3)) calc(200/4) calc(200/(4*3)) calc(200/4);
            stroke-dashoffset: 75;
            animation: pathCircle var(--duration) cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;
        }
    }
  
}

@keyframes dotRect {
    25% {
        transform: translate(0, 0);
    }
    50% {
        transform: translate(30px, -30px);
    }
    75% {
        transform: translate(0, -86px);
    }
    100% {
        transform: translate(-65px, -65px);
    }
}

@keyframes pathCircle {
    // 15% {
    //     stroke-dashoffset: 105;
    // }
    25% {
        stroke-dashoffset: 225;
    }
    50% {
        stroke-dashoffset: 355;
    }
    75% {
        stroke-dashoffset: 425;
    }
    100% {
        stroke-dashoffset: 555;
    }
}

.loader {
    display: inline-block;
    margin: 0 16px;
}

.html {
    -webkit-font-smoothing: antialiased;
}

// * {
//     box-sizing: border-box;
//     &:before,
//     &:after {
//         box-sizing: border-box;
//     }
// }

// Center & dribbble
.body {
    min-height: 100vh;
    background: #1c1c1c;
    display: flex;
    justify-content: center;
    align-items: center;
    .dribbble {
        position: fixed;
        display: block;
        right: 20px;
        bottom: 20px;
        img {
            display: block;
            height: 28px;
        }
    }
}