
  $PrimaryColor: #34b27b;
  $SecondaryColor: #1c1c1c;
  $Cultured: #eee;
  $JetBlack: #2C2C2C;
  $DimGray: #6D6D6D;
  $White: #fff;
  $Gainsboro: #DFDFDF;
  $HRcolor: #505050;

  @mixin flex($direction, $justify, $align) {
    display: flex;
    flex-direction: $direction;
    align-items: $align;
    justify-content: $justify;
  }
 
  .header {
    @include flex(column, flex-start, flex-start);
    width: fit-content;
    max-width: 22em;
    height: 100vh;
    max-height: fit-content;
    padding: 1rem;
    position: absolute;
    overflow-y: auto;
    top: 0;
    z-index: 100;
    // box-shadow: 0 1px 6px 0 $DimGray;
    background-color: $JetBlack;
    .h1, .p {
      margin: 0;
      margin-left: 0.5em;
    }
    .p {
      margin: 0 0 0 0.5em;
      flex-wrap: wrap;
    }
  }
 
  .headerText {
    flex: 1;
  }
  .headerText h1 {
      letter-spacing: 1.4px;
  }
  .settings {
    @include flex(column, center, flex-start);
    width: 200px;
  }
  .brandName {
    @include flex(row, flex-start, center);
  }
  .brandName img {
    width: 3em !important;
    height: 3em !important;
  }
.centerPanel {
  margin: 1em 0;
  
  width: 100%;
  h4 {
    text-transform: uppercase;
    margin: 0;
    letter-spacing: 1.2px
  }
  &:first-of-type {
    margin-top: 2em;
  }
}
.buttonWrapper {
  @include flex(row, space-between, center);
  padding: 0.1em;
  padding-left: 0.5em;
  p {
    margin: 0;
    color: $Gainsboro;
    font-family: MyFont;
    text-transform: none;
    font-weight: 600;
    font-size: 1.1em;
    margin-left: 1em;
    text-align: center;
  }
  &:hover {
    background-color: $SecondaryColor;
    border-radius: 0.5357em;
  }
}
.channelWrapper {
  @include flex(row, space-between, center);
  padding: 0.1em;
  padding-left: 0;
  width: 100%;
  margin: 0.2em 0;
  background-color: #1c1c1c;
  border-radius: 0.5357em;
  cursor: pointer;

  .channelName {
    margin: 0;
    color: $Gainsboro;
    font-family: MyFont;
    text-transform: none;
    font-weight: 600;
    font-size: 1.1em;
    margin-left: 0.7em;
    text-align: center;
    letter-spacing: 1.2px;
  }
}
.buttonContainer {
    margin: 1em;
    margin-top: 0;
    margin-bottom: 0.2em;
    p {
      margin: 0;
    }
}
.usernameForm input {
  margin-bottom: 0.5em;
  padding: 0.3em;
}
.messageInput {
  flex: 1;
  margin-right: 10px;
  border: 2.5px solid $PrimaryColor;
  background-color: $JetBlack;
  color: $Gainsboro;
  border-radius: 2px;
  padding: 0 10px;
  font-family: MyFont;
  font-weight: 500;
  font-size: 1em;
  outline: none;
  border-radius: 5.97531px;
  &::placeholder {
    color: $DimGray;
  }
}
.submit {
  background-color: $PrimaryColor;
  color: $SecondaryColor;
  border: none;
  cursor: pointer;
  padding: 5px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: MyFont;
  font-size: 1em;
  border-radius: 0.2357em;
  outline: none;
  &:hover {
    background-color: $SecondaryColor;
    color: $PrimaryColor;
    outline: 2.5px solid $PrimaryColor;
  }
}
.hr {
  background-color: $HRcolor;
  border: none;
  width: 100%;
  height: 0.005em;
  margin: 2em 0 1em 0;
}
.welcome{
  @include flex(row, flex-start, center);
  padding: 0.7em;
  background-color: $SecondaryColor;
  border-radius: 0.5357em;
  span {
    font-weight: 600;
    color: $PrimaryColor;
  }
}